{% extends 'base.html' %}

{% block title %}Brands{% endblock %}

{% block content %}
    <h2>Brands</h2>

    <table>
        <tr>
            <th>Lp.</th>
            <th><a href="?sort=id&direction={{ 'asc' if sort != 'id' or direction == 'desc' else 'desc' }}">ID</a></th>
            <th><a href="?sort=name&direction={{ 'asc' if sort != 'name' or direction == 'desc' else 'desc' }}">Name</a></th>
        </tr>
        {% for brand in brands %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ brand.id }}</td>
            <td>{{ brand.name }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
